pkgbase = python-elementpath
	pkgdesc = XPath 1.0/2.0 parsers and selectors for ElementTree.
	pkgver = 1.2.1
	pkgrel = 1
	url = https://pypi.org/project/elementpath
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/e/elementpath/elementpath-1.2.1.tar.gz
	sha256sums = 219e773c36a1144b844aed8af4fc3f130de1d7843503ebabc1b9c062e3fdcc2b

pkgname = python-elementpath

