pkgbase = quickline-channel-url-finder
	pkgdesc = A tool to easily get the URL of a TV channel from Quickline Mobil-TV.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/goggle/quickline-channel-url-finder
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = python-fuzzywuzzy
	optdepends = python-levenshtein: provides a 4-10x speedup in string matching
	source = https://github.com/goggle/quickline-channel-url-finder/archive/v1.0.0.tar.gz
	md5sums = ca07385ef770064e336857d19c897229

pkgname = quickline-channel-url-finder

