pkgbase = python2-kodistubs-git
	pkgdesc = Python files that can help you develop Kodi addons.
	pkgver = 195.5c43660
	pkgrel = 1
	url = https://github.com/romanvm/Kodistubs
	arch = any
	license = GPL
	makedepends = git
	makedepends = python2-setuptools
	provides = python2-kodistubs
	source = kodistubs::git+https://github.com/romanvm/Kodistubs.git
	md5sums = SKIP

pkgname = python2-kodistubs-git

